openapi: 3.0.0
info:
  title: NexusBook OpenAPI
  version: 0.1.9
  description: |-
    NexusBook OpenAPI

    🚀 **NexusBook** 是一个功能强大的开源文档管理和数据协作平台，为企业提供灵活的结构化数据管理、实时协作和供应链数据协同能力。

    ---

    ## ✨ 核心特性

    ### 📋 灵活的文档模型
    - **25+ 种字段类型**：文本、数字、日期、附件、关联等
    - **多视图支持**：表格、相册、看板、日历、文档视图
    - **自定义字段**：支持不同行业的个性化扩展
    - **版本控制**：完整的修订历史和回溯能力

    ### 🤝 实时协作
    - **多层级评论**：文档级、字段级、行级评论系统
    - **审批工作流**：可配置的变更审批流程
    - **请求与合并**：类 Git 的数据变更管理
    - **并发控制**：基于版本号的乐观锁机制

    ### 🔗 供应链数据协同
    - **Catalog（商品目录）**：供应商管理商品数据，支持行业自定义字段
    - **OrderBook（订货本）**：采购商基于 Connection 创建订货视图
    - **Connection（连接）**：供应商与采购商的数据共享通道
    - **字段映射**：支持类型转换、单位转换、选项映射等 8 种转换类型
    - **智能过滤**：嵌套条件组和自动接受/拒绝规则
    - **中间商支持**：二级分销和多级数据传导

    ### 🔌 扩展能力
    - **Webhooks**：事件驱动的通知机制
    - **自动化集成**：支持 Zapier、Make 等自动化平台
    - **API Keys**：安全的服务间调用
    - **OAuth2/OIDC**：企业级身份认证集成

    ---

    ## 🏗️ API 架构

    ### 主要命名空间

    #### 1️⃣ 文档管理 (`/api/v1/doc`)
    - **Metadata（元数据）**：字段定义、类型配置、验证规则
    - **Views（视图）**：表格/相册/看板/日历/文档视图管理
    - **Data（数据）**：结构化数据行的 CRUD 操作
    - **Revisions（修订）**：版本历史和回溯
    - **Comments（评论）**：多层级评论系统
    - **Approvals（审批）**：工作流审批管理
    - **Requests（请求）**：变更请求和合并
    - **Settings（设置）**：文档级和类型级配置

    #### 2️⃣ 供应链协同 (`/api/v1/organizations/{orgId}`)
    - **Catalog**：商品目录管理，支持自定义字段
    - **OrderBook**：订货本管理，基于 Connection 自动生成
    - **Connection**：供应商-采购商数据连接（Outbound）
    - **Binding**：订货本数据绑定配置（Inbound），支持字段映射和接收过滤
    - **Connector**：组织内文档转换器（OrderBook → Catalog）

    #### 3️⃣ 租户管理 (`/api/v1/users`, `/api/v1/organizations`, `/api/v1/workspaces`)
    - **Users**：用户信息和偏好设置
    - **Organizations**：组织管理和成员邀请
    - **Workspaces**：工作区管理和权限控制

    #### 4️⃣ 扩展功能
    - **Webhooks** (`/api/v1/webhooks`)：事件订阅和投递管理
    - **I18n** (`/api/v1/i18n`)：国际化翻译服务
    - **Billing** (`/api/v1/billing`)：订阅和计费管理
    - **Audit** (`/api/v1/audit`)：审计日志查询

    ---

    ## 🚀 快速开始

    ### 认证

    所有 API 请求需要在请求头中包含有效的 Bearer Token：

    ```http
    Authorization: Bearer <access_token>
    ```

    **获取 Token 的方式**：
    1. **客户端凭证流程**（服务间调用）：`POST /auth/token`
    2. **授权码流程**（用户授权）：`GET /auth/authorize` → `POST /auth/token`
    3. **API Keys**：适用于 Webhook 验证和自动化集成

    ### 基础调用示例

    ```bash
    # 1. 获取聚合文档包（包含元数据、视图和数据）
    curl -H 'Authorization: Bearer TOKEN' \
      'https://open.nexusbook.app/api/v1/doc/product/doc-123?include=metadata,views,data'

    # 2. 创建数据行
    curl -X POST 'https://open.nexusbook.app/api/v1/doc/product/doc-123/data' \
      -H 'Authorization: Bearer TOKEN' \
      -H 'Content-Type: application/json' \
      -d '{
        "id": "row-1",
        "values": [
          {"fieldId": "name", "value": {"text": "iPhone 15 Pro"}},
          {"fieldId": "price", "value": {"number": 7999}},
          {"fieldId": "stock", "value": {"number": 100}}
        ]
      }'

    # 3. 查询数据（高级查询）
    curl -X POST 'https://open.nexusbook.app/api/v1/doc/product/doc-123/data/query' \
      -H 'Authorization: Bearer TOKEN' \
      -H 'Content-Type: application/json' \
      -d '{
        "filter": {
          "and": [
            {"field": "price", "op": "gte", "value": 5000},
            {"field": "stock", "op": "gt", "value": 0}
          ]
        },
        "sort": [{"field": "price", "order": "desc"}],
        "page": 1,
        "pageSize": 20
      }'
    ```

    ### 供应链协同示例

    ```bash
    # 1. 供应商创建 Catalog
    curl -X POST 'https://open.nexusbook.app/api/v1/organizations/org-123/catalogs' \
      -H 'Authorization: Bearer TOKEN' \
      -d '{
        "name": "电子产品目录",
        "catalogType": "product",
        "fields": [
          {"name": "品牌", "type": "text", "required": true},
          {"name": "型号", "type": "text", "required": true},
          {"name": "价格", "type": "currency", "required": true}
        ]
      }'

    # 2. 供应商创建 Connection 并分享
    curl -X POST 'https://open.nexusbook.app/api/v1/organizations/org-123/catalogs/cat-456/connections' \
      -H 'Authorization: Bearer TOKEN' \
      -d '{
        "name": "华东地区分销商",
        "shareScope": {"type": "all"},
        "accessControl": "public"
      }'

    # 3. 采购商接受连接并创建 OrderBook
    curl -X POST 'https://open.nexusbook.app/api/v1/organizations/org-789/orderbooks' \
      -H 'Authorization: Bearer TOKEN' \
      -d '{
        "name": "供应商A订货本",
        "sourceConnectionIds": ["conn-111"]
      }'

    # 4. 采购商配置 Binding（字段映射和过滤）
    curl -X POST 'https://open.nexusbook.app/api/v1/organizations/org-789/orderbooks/ob-222/bindings' \
      -H 'Authorization: Bearer TOKEN' \
      -d '{
        "connectionId": "conn-111",
        "fieldMapping": [
          {"sourceFieldId": "price", "targetFieldId": "cost", "transformType": "unit_convert",
           "unitConversion": {"fromUnit": "USD", "toUnit": "CNY", "rate": 7.2}}
        ],
        "receiverFilter": {
          "acceptMode": "selective",
          "filterGroup": {
            "operator": "AND",
            "conditions": [{"field": "price", "op": "lte", "value": 10000}]
          }
        }
      }'
    ```

    ---

    ## 📖 核心概念

    ### 文档包（Document Package）

    NexusBook 的文档包含三个核心部分：
    - **Metadata**：定义文档结构（字段、类型、验证规则）
    - **Views**：定义数据展示方式（表格、看板、相册等）
    - **Data**：实际的结构化数据行

    ### 并发控制

    所有数据行更新操作使用**版本号（version）**进行乐观锁控制：
    ```json
    {
      "id": "row-1",
      "version": 3,  // 必须提供当前版本号
      "values": [...]
    }
    ```
    如果版本号不匹配，API 将返回 `409 Conflict` 错误。

    ### 错误处理

    所有错误响应遵循统一格式：
    ```json
    {
      "success": false,
      "code": "ERROR_CODE",
      "message": {
        "zh": "错误信息（中文）",
        "en": "Error message (English)"
      },
      "details": {  // 可选，提供额外的错误上下文
        "field": "price",
        "reason": "validation_failed"
      }
    }
    ```

    **常见错误码**：
    - `UNAUTHORIZED`：未授权或 Token 无效
    - `FORBIDDEN`：权限不足
    - `NOT_FOUND`：资源不存在
    - `VALIDATION_ERROR`：请求参数验证失败
    - `CONFLICT`：并发冲突（版本号不匹配）
    - `RATE_LIMIT_EXCEEDED`：请求频率超限

    ### 分页和查询

    #### 简单分页
    ```http
    GET /api/v1/doc/product/doc-123/data?page=1&pageSize=20
    ```

    #### 高级查询（POST 方式）
    支持复杂过滤、排序、分组和聚合：
    ```json
    {
      "filter": {
        "and": [
          {"field": "status", "op": "eq", "value": "active"},
          {"or": [
            {"field": "category", "op": "eq", "value": "electronics"},
            {"field": "category", "op": "eq", "value": "computers"}
          ]}
        ]
      },
      "sort": [{"field": "createdAt", "order": "desc"}],
      "page": 1,
      "pageSize": 20
    }
    ```

    #### 游标分页（深分页场景）
    ```http
    GET /api/v1/doc/product/doc-123/data?cursor=eyJ...&limit=100
    ```

    ---

    ## 🔗 相关资源

    - 📚 **完整文档**：https://docs.nexusbook.app
    - 🚀 **快速开始指南**：https://docs.nexusbook.app/guides/getting-started
    - 📘 **Catalog-OrderBook 数据协同参考**：https://docs.nexusbook.app/references/catalog-orderbook-sync
    - 🔐 **认证授权指南**：https://docs.nexusbook.app/guides/authentication
    - 📋 **字段类型参考**：https://docs.nexusbook.app/references/field-types
    - ❌ **错误码参考**：https://docs.nexusbook.app/references/error-codes
    - 🌐 **GitHub 仓库**：https://github.com/nexusbook/nexusbook-api
    - 💬 **社区支持**：https://community.nexusbook.app

    ---

    ## 📊 API 版本与环境

    - **当前版本**：v1
    - **生产环境**：https://open.nexusbook.app
    - **测试环境**：https://open-sit.nexusbook.com
    - **认证服务**：https://auth.nexusbook.app

    ---

    **需要帮助？** 请访问我们的[文档中心](https://docs.nexusbook.app)或加入[开发者社区](https://community.nexusbook.app)。
  termsOfService: https://nexusbook.app/terms
  contact:
    name: NexusBook API Support
    url: https://docs.nexusbook.app/support
    email: api@nexusbook.app
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-sit.nexusbook.com
    description: 测试环境 (SIT)
    variables: {}
  - url: https://open.nexusbook.app
    description: 生产环境 (Production)
    variables: {}
tags:
  - name: OAuth
    x-displayName: OAuth
  - name: Authentication
    x-displayName: Authentication
  - name: API Keys
    x-displayName: API Keys
  - name: OAuth Clients
    x-displayName: OAuth Clients
  - name: OIDC Providers - Public
    x-displayName: OIDC Providers - Public
  - name: OIDC Providers - Admin
    x-displayName: OIDC Providers - Admin
  - name: OAuth Login
    x-displayName: OAuth Login
  - name: OAuth Extensions
    x-displayName: OAuth Extensions
  - name: Users
    x-displayName: Users
  - name: Organizations
    x-displayName: Organizations
  - name: Workspaces
    x-displayName: Workspaces
  - name: Invitations
    x-displayName: Invitations
  - name: Join Requests
    x-displayName: Join Requests
  - name: Catalog
    x-displayName: Catalog
  - name: OrderBook
    x-displayName: OrderBook
  - name: Connection
    x-displayName: Connection
  - name: Connector
    x-displayName: Connector
  - name: Document - Core
    x-displayName: Document - Core
  - name: Document - Data
    x-displayName: Document - Data
  - name: Document - Workflow
    x-displayName: Document - Workflow
  - name: Document - Properties
    x-displayName: Document - Properties
  - name: Document - Views
    x-displayName: Document - Views
  - name: Document - Collaboration
    x-displayName: Document - Collaboration
  - name: Document - Relations
    x-displayName: Document - Relations
  - name: Document - Sync
    x-displayName: Document - Sync
  - name: Webhooks
    x-displayName: Webhooks
  - name: Internationalization
    x-displayName: Internationalization
  - name: User Preferences
    x-displayName: User Preferences
  - name: Subscription Plans
    x-displayName: Subscription Plans
  - name: Subscription Management
    x-displayName: Subscription Management
  - name: Invoices
    x-displayName: Invoices
  - name: Payment Methods
    x-displayName: Payment Methods
  - name: Usage & Quota
    x-displayName: Usage & Quota
  - name: Audit Logs
    x-displayName: Audit Logs
  - name: Compliance
    x-displayName: Compliance
  - name: Document - Attachments
    description: 附件管理
    x-displayName: Document - Attachments
  - name: Document - Tenancy
    description: 多租户（组织/工作区级文档）
    x-displayName: Document - Tenancy
externalDocs:
  description: 完整的 API 文档和开发指南
  url: https://docs.nexusbook.app
paths:
  /.well-known/openid-configuration:
    get:
      operationId: AuthApi_openidConfiguration
      summary: OIDC元数据
      description: |-
        返回 OIDC 提供方的标准发现文档。

        Return OIDC provider discovery document.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth.ProviderMetadata'
      tags:
        - OAuth
  /api/v1/admin/oidc/providers:
    get:
      operationId: OidcProviderAdminApi_listAllProviders
      summary: 列出所有 OIDC 提供商配置
      description: |-
        列出所有 OIDC 提供商配置（管理员）
        List all OIDC provider configurations (admin)

        获取所有 OIDC 提供商的完整配置信息，包括密钥等敏感信息。
        Get complete configuration of all OIDC providers, including sensitive data like secrets.

        权限要求：平台管理员
        Permission required: Platform administrator

        示例：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/admin/oidc/providers' \
          -H 'Authorization: Bearer ADMIN_TOKEN'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/Auth.OidcProviderConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
    post:
      operationId: OidcProviderAdminApi_addOidcProvider
      summary: 添加 OIDC 提供商
      description: |-
        添加 OIDC 提供商配置（管理员）
        Add OIDC provider configuration (admin)

        添加新的 OIDC 提供商配置，需要管理员权限。
        Add new OIDC provider configuration, requires admin permission.

        示例（Google）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/admin/oidc/providers' \
          -H 'Authorization: Bearer ADMIN_TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "providerType": "google",
            "name": "Google",
            "clientId": "YOUR_GOOGLE_CLIENT_ID",
            "clientSecret": "YOUR_GOOGLE_CLIENT_SECRET",
            "scopes": ["openid", "profile", "email"]
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.OidcProviderConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.AddOidcProviderRequest'
  /api/v1/admin/oidc/providers/{providerId}:
    get:
      operationId: OidcProviderAdminApi_getOidcProvider
      summary: 获取 OIDC 提供商配置
      description: |-
        获取 OIDC 提供商配置（管理员）
        Get OIDC provider configuration (admin)

        获取指定 OIDC 提供商的完整配置信息。
        Get complete configuration of specified OIDC provider.
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.OidcProviderConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
    patch:
      operationId: OidcProviderAdminApi_updateOidcProvider
      summary: 更新 OIDC 提供商配置
      description: |-
        更新 OIDC 提供商配置（管理员）
        Update OIDC provider configuration (admin)

        更新指定 OIDC 提供商的配置信息。
        Update configuration of specified OIDC provider.
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.OidcProviderConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.UpdateOidcProviderRequest'
    delete:
      operationId: OidcProviderAdminApi_deleteOidcProvider
      summary: 删除 OIDC 提供商配置
      description: |-
        删除 OIDC 提供商配置（管理员）
        Delete OIDC provider configuration (admin)

        删除指定的 OIDC 提供商配置。
        Delete specified OIDC provider configuration.
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
  /api/v1/api-keys:
    post:
      operationId: ApiKeyApi_createApiKey
      summary: 创建 API Key
      description: |-
        创建 API Key
        Create API Key

        创建新的 API 密钥。密钥只在创建时返回完整内容，请妥善保存。
        Create new API key. Full key is only returned on creation, please save it securely.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/api-keys' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "name": "生产环境 API Key",
            "description": "用于生产环境的后端服务",
            "scopes": ["doc:read", "doc:write", "data:read", "data:write"],
            "expiresInDays": 365,
            "rateLimit": 1000
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKey'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.CreateApiKeyRequest'
    get:
      operationId: ApiKeyApi_listApiKeys
      summary: 列出 API Keys
      description: |-
        列出 API Keys
        List API Keys

        获取当前用户的所有 API 密钥列表。
        Get list of all API keys for current user.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/api-keys?page=1&pageSize=20&status=active' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: page
          in: query
          required: false
          description: |-
            页码（从1开始）
            Page number (starts from 1)
          schema:
            type: integer
            format: int32
            default: 1
          explode: false
        - name: pageSize
          in: query
          required: false
          description: |-
            每页数量
            Page size
          schema:
            type: integer
            format: int32
            default: 20
          explode: false
        - name: status
          in: query
          required: false
          description: |-
            按状态筛选
            Filter by status
          schema:
            $ref: '#/components/schemas/Auth.ApiKeyStatus'
          explode: false
        - name: organizationId
          in: query
          required: false
          description: |-
            按组织ID筛选
            Filter by organization ID
          schema:
            type: string
          explode: false
        - name: workspaceId
          in: query
          required: false
          description: |-
            按工作区ID筛选
            Filter by workspace ID
          schema:
            type: string
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    required:
                      - items
                      - page
                      - pageSize
                      - total
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Auth.ApiKey'
                        description: |-
                          列表项
                          Items
                      page:
                        type: integer
                        format: int32
                        description: |-
                          当前页
                          Page number
                      pageSize:
                        type: integer
                        format: int32
                        description: |-
                          每页数量
                          Page size
                      total:
                        type: integer
                        format: int64
                        description: |-
                          总数
                          Total count
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/batch-revoke:
    post:
      operationId: ApiKeyApi_batchRevokeApiKeys
      summary: 批量吊销 API Keys
      description: |-
        批量吊销 API Keys
        Batch revoke API Keys

        批量吊销多个 API 密钥。
        Batch revoke multiple API keys.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/api-keys/batch-revoke' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "apiKeyIds": ["key-1", "key-2", "key-3"]
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      revokedCount:
                        type: integer
                        format: int32
                        description: |-
                          成功吊销的数量
                          Successfully revoked count
                      failed:
                        type: array
                        items:
                          type: string
                        description: |-
                          失败的 API Key IDs
                          Failed API Key IDs
                    required:
                      - revokedCount
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKeyIds:
                  type: array
                  items:
                    type: string
                  description: |-
                    API Key ID 列表
                    API Key ID list
              required:
                - apiKeyIds
  /api/v1/api-keys/{apiKeyId}:
    get:
      operationId: ApiKeyApi_getApiKey
      summary: 获取 API Key 详情
      description: |-
        获取 API Key 详情
        Get API Key details

        获取指定 API 密钥的详细信息（不包含完整密钥）。
        Get details of specified API key (without full key).
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKey'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
    patch:
      operationId: ApiKeyApi_updateApiKey
      summary: 更新 API Key
      description: |-
        更新 API Key
        Update API Key

        更新 API 密钥的配置信息。
        Update API key configuration.

        示例（cURL）：
        ```bash
        curl -X PATCH 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "name": "生产环境 API Key (更新)",
            "scopes": ["doc:read", "data:read"],
            "rateLimit": 500
          }'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKey'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.UpdateApiKeyRequest'
    delete:
      operationId: ApiKeyApi_deleteApiKey
      summary: 删除 API Key
      description: |-
        删除 API Key
        Delete API Key

        彻底删除 API 密钥及其所有使用记录。
        Permanently delete API key and all its usage logs.

        示例（cURL）：
        ```bash
        curl -X DELETE 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/{apiKeyId}/logs:
    get:
      operationId: ApiKeyApi_getApiKeyUsageLogs
      summary: 获取使用记录
      description: >-
        获取 API Key 使用记录

        Get API Key usage logs


        获取 API 密钥的使用记录。

        Get usage logs of API key.


        示例（cURL）：

        ```bash

        curl -X GET
        'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}/logs?page=1&pageSize=50&startTime=2024-12-01T00:00:00Z&endTime=2024-12-05T23:59:59Z'
        \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: |-
            页码
            Page number
          schema:
            type: integer
            format: int32
            default: 1
          explode: false
        - name: pageSize
          in: query
          required: false
          description: |-
            每页数量
            Page size
          schema:
            type: integer
            format: int32
            default: 50
          explode: false
        - name: startTime
          in: query
          required: false
          description: |-
            开始时间
            Start time
          schema:
            type: string
          explode: false
        - name: endTime
          in: query
          required: false
          description: |-
            结束时间
            End time
          schema:
            type: string
          explode: false
        - name: method
          in: query
          required: false
          description: |-
            按方法筛选
            Filter by method
          schema:
            type: string
          explode: false
        - name: path
          in: query
          required: false
          description: |-
            按路径筛选
            Filter by path
          schema:
            type: string
          explode: false
        - name: statusCode
          in: query
          required: false
          description: |-
            按状态码筛选
            Filter by status code
          schema:
            type: integer
            format: int32
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    required:
                      - items
                      - page
                      - pageSize
                      - total
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Auth.ApiKeyUsageLog'
                        description: |-
                          列表项
                          Items
                      page:
                        type: integer
                        format: int32
                        description: |-
                          当前页
                          Page number
                      pageSize:
                        type: integer
                        format: int32
                        description: |-
                          每页数量
                          Page size
                      total:
                        type: integer
                        format: int64
                        description: |-
                          总数
                          Total count
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/{apiKeyId}/regenerate:
    post:
      operationId: ApiKeyApi_regenerateApiKey
      summary: 重新生成 API Key
      description: |-
        重新生成 API Key
        Regenerate API Key

        重新生成 API 密钥。旧密钥立即失效，新密钥只返回一次。
        Regenerate API key. Old key is immediately invalidated, new key is returned only once.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}/regenerate' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKey'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/{apiKeyId}/revoke:
    post:
      operationId: ApiKeyApi_revokeApiKey
      summary: 吊销 API Key
      description: |-
        吊销 API Key
        Revoke API Key

        永久吊销 API 密钥，吊销后无法恢复。
        Permanently revoke API key, cannot be restored after revocation.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}/revoke' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/{apiKeyId}/stats:
    get:
      operationId: ApiKeyApi_getApiKeyUsageStats
      summary: 获取使用统计
      description: |-
        获取 API Key 使用统计
        Get API Key usage statistics

        获取 API 密钥的使用统计信息。
        Get usage statistics of API key.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}/stats?period=7d' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
        - name: period
          in: query
          required: false
          description: |-
            统计周期（1h, 24h, 7d, 30d, 90d）
            Statistics period (1h, 24h, 7d, 30d, 90d)
          schema:
            type: string
            default: 7d
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKeyUsageStats'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/auth/change-password:
    post:
      operationId: AuthenticationApi_changePassword
      summary: 修改密码
      description: |-
        修改密码
        Change password

        修改当前用户的密码（需要认证）。
        Change current user's password (requires authentication).
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.ChangePasswordRequest'
  /api/v1/auth/forgot-password:
    post:
      operationId: AuthenticationApi_forgotPassword
      summary: 忘记密码
      description: |-
        请求密码重置
        Request password reset

        发送密码重置验证码。
        Send password reset verification code.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      sent:
                        type: boolean
                      expiresIn:
                        type: integer
                        format: int32
                    required:
                      - sent
                      - expiresIn
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: string
                  description: |-
                    邮箱或手机号
                    Email or phone number
              required:
                - target
  /api/v1/auth/login:
    post:
      operationId: AuthenticationApi_login
      summary: 用户登录
      description: |-
        用户登录
        User login

        支持多种登录方式：邮箱+密码、手机+验证码、OAuth。
        Supports multiple login methods: email+password, phone+code, OAuth.

        示例（邮箱登录）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/auth/login' \
          -H 'Content-Type: application/json' \
          -d '{
            "email": "user@example.com",
            "password": "SecurePassword123!",
            "rememberMe": true
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.LoginResponse'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.LoginRequest'
  /api/v1/auth/logout:
    post:
      operationId: AuthenticationApi_logout
      summary: 退出登录
      description: |-
        退出登录
        Logout

        吊销当前访问令牌和刷新令牌。
        Revoke current access and refresh tokens.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
  /api/v1/auth/oauth/linked-accounts:
    get:
      operationId: OAuthLoginApi_listLinkedAccounts
      summary: 列出关联的第三方账号
      description: |-
        列出关联的第三方账号
        List linked third-party accounts

        获取当前用户关联的所有第三方账号。
        Get all linked third-party accounts for current user.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/Auth.LinkedAccount'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
  /api/v1/auth/oauth/linked-accounts/{linkId}:
    delete:
      operationId: OAuthLoginApi_unlinkOAuthAccount
      summary: 解除第三方账号关联
      description: |-
        解除第三方账号关联
        Unlink third-party account

        解除当前用户与指定第三方账号的关联。
        Unlink specified third-party account from current user.
      parameters:
        - name: linkId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
  /api/v1/auth/oauth/{provider}/authorize:
    get:
      operationId: OAuthLoginApi_getOAuthLoginUrl
      summary: 获取 OAuth 登录 URL
      description: >-
        获取 OAuth 登录 URL

        Get OAuth login URL


        生成第三方 OAuth 登录的授权 URL。

        Generate authorization URL for third-party OAuth login.


        示例（Google 登录）：

        ```bash

        curl -X GET
        'https://open.nexusbook.app/api/v1/auth/oauth/google/authorize?redirectUri=https://myapp.com/callback'

        ```
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
        - name: redirectUri
          in: query
          required: true
          schema:
            type: string
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.OAuthLoginUrlResponse'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
  /api/v1/auth/oauth/{provider}/callback:
    post:
      operationId: OAuthLoginApi_handleOAuthCallback
      summary: OAuth 回调处理
      description: |-
        OAuth 回调处理
        OAuth callback handler

        处理第三方 OAuth 提供商的回调，完成登录或账号关联。
        Handle OAuth provider callback, complete login or account linking.

        示例（Google 回调）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/auth/oauth/google/callback' \
          -H 'Content-Type: application/json' \
          -d '{
            "code": "AUTHORIZATION_CODE",
            "state": "STATE_CODE",
            "redirectUri": "https://myapp.com/callback"
          }'
        ```
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        description: |-
                          访问令牌
                          Access token
                      refreshToken:
                        type: string
                        description: |-
                          刷新令牌
                          Refresh token
                      tokenType:
                        type: string
                        enum:
                          - Bearer
                        description: |-
                          令牌类型
                          Token type
                      expiresIn:
                        type: integer
                        format: int32
                        description: |-
                          过期时间（秒）
                          Expires in seconds
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                          displayName:
                            type: string
                          avatarUrl:
                            type: string
                        required:
                          - id
                          - displayName
                        description: |-
                          用户信息
                          User info
                      isNewAccount:
                        type: boolean
                        description: |-
                          是否新创建的账号
                          Is newly created account
                    required:
                      - accessToken
                      - refreshToken
                      - tokenType
                      - expiresIn
                      - user
                      - isNewAccount
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.OAuthCallbackRequest'
  /api/v1/auth/oauth/{provider}/link:
    post:
      operationId: OAuthLoginApi_linkOAuthAccount
      summary: 关联第三方账号
      description: |-
        关联第三方账号
        Link third-party account

        将第三方 OAuth 账号关联到当前用户（需要已登录）。
        Link third-party OAuth account to current user (requires authentication).
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.LinkedAccount'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.OAuthCallbackRequest'
  /api/v1/auth/refresh:
    post:
      operationId: AuthenticationApi_refreshToken
      summary: 刷新令牌
      description: |-
        刷新令牌
        Refresh token

        使用刷新令牌获取新的访问令牌。
        Use refresh token to get new access token.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string
                      expiresIn:
                        type: integer
                        format: int32
                    required:
                      - accessToken
                      - refreshToken
                      - expiresIn
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: |-
                    刷新令牌
                    Refresh token
              required:
                - refreshToken
  /api/v1/auth/register:
    post:
      operationId: AuthenticationApi_register
      summary: 用户注册
      description: |-
        用户注册
        User registration

        支持邮箱注册和手机号注册。
        Supports email and phone registration.

        示例（邮箱注册）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/auth/register' \
          -H 'Content-Type: application/json' \
          -d '{
            "email": "user@example.com",
            "password": "SecurePassword123!",
            "displayName": "张三",
            "agreeToTerms": true
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.LoginResponse'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.RegisterRequest'
  /api/v1/auth/reset-password:
    post:
      operationId: AuthenticationApi_resetPassword
      summary: 重置密码
      description: |-
        重置密码
        Reset password

        使用验证码重置密码。
        Reset password using verification code.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.ResetPasswordRequest'
  /api/v1/auth/sessions:
    get:
      operationId: AuthenticationApi_listSessions
      summary: 列出会话
      description: |-
        列出活跃会话
        List active sessions

        获取当前用户的所有活跃会话。
        Get all active sessions of current user.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/Auth.Session'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
  /api/v1/auth/sessions/revoke-all:
    post:
      operationId: AuthenticationApi_revokeAllOtherSessions
      summary: 吊销所有其他会话
      description: |-
        吊销所有其他会话
        Revoke all other sessions

        吊销除当前会话外的所有会话。
        Revoke all sessions except the current one.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      revokedCount:
                        type: integer
                        format: int32
                    required:
                      - revokedCount
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
  /api/v1/auth/sessions/{sessionId}:
    delete:
      operationId: AuthenticationApi_revokeSession
      summary: 吊销会话
      description: |-
        吊销会话
        Revoke session

        吊销指定的会话。
        Revoke specified session.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
  /api/v1/auth/two-factor/disable:
    post:
      operationId: AuthenticationApi_disableTwoFactor
      summary: 禁用两步验证
      description: |-
        禁用两步验证
        Disable two-factor authentication

        禁用当前用户的两步验证。
        Disable two-factor authentication for current user.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: |-
                    当前密码或验证码
                    Current password or verification code
              required:
                - password
  /api/v1/auth/two-factor/enable:
    post:
      operationId: AuthenticationApi_enableTwoFactor
      summary: 启用两步验证
      description: |-
        启用两步验证
        Enable two-factor authentication

        确认并启用两步验证。
        Confirm and enable two-factor authentication.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      backupCodes:
                        type: array
                        items:
                          type: string
                    required:
                      - enabled
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.EnableTwoFactorRequest'
  /api/v1/auth/two-factor/setup:
    post:
      operationId: AuthenticationApi_setupTwoFactor
      summary: 设置两步验证
      description: |-
        设置两步验证
        Setup two-factor authentication

        初始化两步验证设置，返回 TOTP 密钥或备用码。
        Initialize two-factor setup, returns TOTP secret or backup codes.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.TwoFactorSetupResponse'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  allOf:
                    - $ref: '#/components/schemas/Auth.TwoFactorMethod'
                  description: |-
                    两步验证方式
                    Two-factor method
              required:
                - method
  /api/v1/auth/verification-code:
    post:
      operationId: AuthenticationApi_sendVerificationCode
      summary: 发送验证码
      description: |-
        发送验证码
        Send verification code

        发送验证码到邮箱或手机号。
        Send verification code to email or phone.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      sent:
                        type: boolean
                        description: |-
                          发送成功
                          Send success
                      expiresIn:
                        type: integer
                        format: int32
                        description: |-
                          过期时间（秒）
                          Expires in seconds
                    required:
                      - sent
                      - expiresIn
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.SendVerificationCodeRequest'
  /api/v1/billing/plans:
    get:
      operationId: SubscriptionPlansApi_listPlans
      summary: 列出订阅计划
      description: 列出可用订阅计划
      parameters:
        - name: includeArchived
          in: query
          required: false
          description: 是否包含已归档计划
          schema:
            type: boolean
            default: false
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/Billing.SubscriptionPlan'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Subscription Plans
  /api/v1/billing/plans/{planId}:
    get:
      operationId: SubscriptionPlansApi_getPlan
      summary: 获取订阅计划详情
      description: 获取订阅计划详情
      parameters:
        - name: planId
          in: path
          required: true
          description: 计划 ID
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Billing.SubscriptionPlan'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Subscription Plans
  /api/v1/i18n/currencies:
    get:
      operationId: I18nApi_listCurrencies
      summary: 获取货币列表
      description: |-
        获取货币列表
        Get currency list

        获取系统支持的货币列表。
        Get list of supported currencies.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/i18n/currencies' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: includeInactive
          in: query
          required: false
          description: |-
            是否包含不活跃的货币
            Whether to include inactive currencies
          schema:
            type: boolean
            default: false
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      currencies:
                        type: array
                        items:
                          $ref: '#/components/schemas/I18n.Currency'
                        description: |-
                          货币列表
                          Currencies
                    required:
                      - currencies
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
  /api/v1/i18n/detect-language:
    post:
      operationId: I18nApi_detectLanguage
      summary: 检测文本语言
      description: |-
        检测文本语言
        Detect text language

        自动检测给定文本的语言。
        Automatically detect language of given text.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/i18n/detect-language' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{"text": "这是一段测试文本"}'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      detectedLanguage:
                        type: string
                        description: |-
                          检测到的语言
                          Detected language
                      confidence:
                        type: number
                        format: double
                        description: |-
                          置信度
                          Confidence
                      alternatives:
                        type: array
                        items:
                          $ref: '#/components/schemas/I18n.LanguageDetection'
                        description: |-
                          备选语言
                          Alternative languages
                    required:
                      - detectedLanguage
                      - confidence
                      - alternatives
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: |-
                    待检测文本
                    Text to detect
              required:
                - text
  /api/v1/i18n/format-preview:
    post:
      operationId: I18nApi_formatPreview
      summary: 格式化数据预览
      description: |-
        格式化数据预览
        Format data preview

        根据指定的语言和格式设置预览格式化结果。
        Preview formatting results based on specified language and format settings.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/i18n/format-preview' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "language": "zh",
            "timezone": "Asia/Shanghai",
            "dateFormat": "YYYY-MM-DD",
            "timeFormat": "24h",
            "currency": "CNY",
            "samples": {
              "date": "2024-12-06T10:30:00Z",
              "number": 1234567.89,
              "currency": 9999.99
            }
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      formatted:
                        type: object
                        properties:
                          date:
                            type: string
                            description: |-
                              格式化的日期
                              Formatted date
                          time:
                            type: string
                            description: |-
                              格式化的时间
                              Formatted time
                          datetime:
                            type: string
                            description: |-
                              格式化的日期时间
                              Formatted datetime
                          number:
                            type: string
                            description: |-
                              格式化的数字
                              Formatted number
                          currency:
                            type: string
                            description: |-
                              格式化的货币
                              Formatted currency
                        required:
                          - date
                          - time
                          - datetime
                          - number
                          - currency
                        description: |-
                          格式化结果
                          Formatted results
                    required:
                      - formatted
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                  description: |-
                    语言代码
                    Language code
                timezone:
                  type: string
                  description: |-
                    时区
                    Timezone
                dateFormat:
                  type: string
                  description: |-
                    日期格式
                    Date format
                timeFormat:
                  type: string
                  description: |-
                    时间格式
                    Time format
                currency:
                  type: string
                  description: |-
                    货币代码
                    Currency code
                samples:
                  type: object
                  properties:
                    date:
                      type: string
                      description: |-
                        日期示例
                        Date sample
                    number:
                      type: number
                      format: double
                      description: |-
                        数字示例
                        Number sample
                    currency:
                      type: number
                      format: double
                      description: |-
                        货币示例
                        Currency sample
                  required:
                    - date
                    - number
                    - currency
                  description: |-
                    示例数据
                    Sample data
              required:
                - language
                - timezone
                - dateFormat
                - timeFormat
                - currency
                - samples
  /api/v1/i18n/languages:
    get:
      operationId: I18nApi_listLanguages
      summary: 获取支持的语言列表
      description: |-
        获取支持的语言列表
        Get supported languages list

        返回系统支持的所有语言配置列表。
        Returns list of all supported language configurations.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/i18n/languages?enabledOnly=true' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: enabledOnly
          in: query
          required: false
          description: |-
            仅返回已启用的语言
            Only return enabled languages
          schema:
            type: boolean
            default: false
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/I18n.LanguageConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
  /api/v1/i18n/languages/{languageCode}:
    get:
      operationId: I18nApi_getLanguage
      summary: 获取语言详细配置
      description: |-
        获取语言详细配置
        Get language detailed configuration

        返回指定语言的详细配置信息。
        Returns detailed configuration for specified language.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/i18n/languages/zh' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: languageCode
          in: path
          required: true
          description: |-
            语言代码
            Language code
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/I18n.LanguageConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
  /api/v1/i18n/organizations/{organizationId}/i18n/glossary:
    get:
      operationId: TranslationApi_getGlossary
      summary: 获取翻译术语表
      description: >-
        获取翻译术语表

        Get translation glossary


        获取组织的翻译术语表。

        Get organization's translation glossary.


        示例（cURL）：

        ```bash

        curl -X GET
        'https://open.nexusbook.app/api/v1/organizations/org-123/i18n/glossary?sourceLanguage=zh&targetLanguage=en' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: organizationId
          in: path
          required: true
          description: |-
            组织ID
            Organization ID
          schema:
            type: string
        - name: sourceLanguage
          in: query
          required: false
          description: |-
            源语言
            Source language
          schema:
            type: string
          explode: false
        - name: targetLanguage
          in: query
          required: false
          description: |-
            目标语言
            Target language
          schema:
            type: string
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
[...]
