openapi: 3.0.0
info:
  title: NexusBook OpenAPI
  description: |-
    NexusBook OpenAPI

    一个功能强大的开源文档管理和数据协作平台 API。

    ## 主要功能模块

    ### 1. 文档管理 (`/doc`)
    - **元数据** - 字段定义、类型和验证配置
    - **视图** - 多种视图类型支持（表格/相册/看板/文档）
    - **数据** - 结构化数据行管理和查询
    - **修订** - 版本控制和历史记录
    - **评论** - 多层级评论系统（文档级/字段级/行级）
    - **审批** - 工作流审批流程
    - **请求** - 变更请求和合并机制
    - **设置** - 文档级和类型级配置

    ### 2. 认证与授权 (`/auth`)
    - OAuth2 客户端应用管理
    - OIDC 身份提供商集成
    - JWT 令牌管理
    - 用户信息和权限

    ### 3. 扩展功能 (`/webhooks`)
    - **Webhooks** - 事件驱动的通知机制
    - 支持 Request、Approval、Comment、Metadata、View 等事件
    - 自动重试和签名验证
    - 投递历史和统计

    ## API 调用示例

    ```bash
    # 获取聚合文档包
    curl -H 'Authorization: Bearer TOKEN' \
      'https://open.nexusbook.app/api/v1/doc/product/123?include=metadata,views,data'

    # 创建数据行
    curl -X POST 'https://open.nexusbook.app/api/v1/doc/product/123/data' \
      -H 'Authorization: Bearer TOKEN' \
      -H 'Content-Type: application/json' \
      -d '{"id":"row-1","values":[{"fieldId":"name","value":{"text":"新产品"}}]}'
    ```

    ## 认证

    所有 API 请求需要在请求头中包含有效的 Bearer Token：
    ```
    Authorization: Bearer <access_token>
    ```

    获取 Token 的方式：
    1. 使用客户端凭证流程: POST /auth/token
    2. 使用授权码流程: GET /auth/authorize + POST /auth/token

    ## 错误处理

    所有错误响应遵循统一的格式：
    ```json
    {
      "success": false,
      "code": "ERROR_CODE",
      "message": {
        "zh": "错误信息（中文）",
        "en": "Error message (English)"
      }
    }
    ```

    ## 分页和查询

    支持多种查询方式：
    - 简单分页：`page`, `pageSize`
    - 高级查询：嵌套过滤、排序、分组和聚合
    - 游标分页：用于深分页场景

    ## 并发控制

    数据行使用版本号 (version) 进行并发控制。更新时需要提供当前版本号。
  version: 0.0.0
servers:
  - url: https://open-sit.nexusbook.com
    description: 测试环境 (SIT)
    variables: {}
  - url: https://open.nexusbook.app
    description: 生产环境 (Production)
    variables: {}
tags:
  - name: OAuth
    description: OAuth2/OIDC 认证
    x-displayName: OAuth
  - name: Authentication
    description: 用户注册与登录
    x-displayName: Authentication
  - name: API Keys
    description: API 密钥管理
    x-displayName: API Keys
  - name: OAuth Clients
    x-displayName: OAuth Clients
  - name: OIDC Providers - Public
    x-displayName: OIDC Providers - Public
  - name: OIDC Providers - Admin
    x-displayName: OIDC Providers - Admin
  - name: OAuth Login
    x-displayName: OAuth Login
  - name: OAuth Extensions
    x-displayName: OAuth Extensions
  - name: Users
    description: 用户管理
    x-displayName: Users
  - name: Organizations
    description: 组织管理
    x-displayName: Organizations
  - name: Workspaces
    description: 工作区管理
    x-displayName: Workspaces
  - name: Invitations
    description: 邀请管理
    x-displayName: Invitations
  - name: Join Requests
    description: 加入申请
    x-displayName: Join Requests
  - name: Catalog
    description: 产品目录管理（供应商侧）
    x-displayName: Catalog
  - name: OrderBook
    description: 订货本管理（采购商侧）
    x-displayName: OrderBook
  - name: Connection
    description: 跨组织数据分享与传播
    x-displayName: Connection
  - name: Connector
    description: 组织内部文档联动
    x-displayName: Connector
  - name: Document - Core
    description: 核心功能（聚合查询、元数据、设置）
    x-displayName: Document - Core
  - name: Document - Data
    description: 数据行管理
    x-displayName: Document - Data
  - name: Document - Workflow
    description: 工作流（审批、变更请求、修订）
    x-displayName: Document - Workflow
  - name: Document - Properties
    description: 文档属性
    x-displayName: Document - Properties
  - name: Document - Views
    description: 视图管理
    x-displayName: Document - Views
  - name: Document - Collaboration
    description: 协作功能（评论、实时）
    x-displayName: Document - Collaboration
  - name: Document - Relations
    description: 文档关联
    x-displayName: Document - Relations
  - name: Attachments
    x-displayName: Attachments
  - name: Document - Sync
    description: 数据同步
    x-displayName: Document - Sync
  - name: Realtime
    x-displayName: Realtime
  - name: Organization Documents
    x-displayName: Organization Documents
  - name: Workspace Documents
    x-displayName: Workspace Documents
  - name: Webhooks
    description: Webhook 管理
    x-displayName: Webhooks
  - name: Internationalization
    description: 国际化翻译
    x-displayName: Internationalization
  - name: User Preferences
    description: 用户偏好设置
    x-displayName: User Preferences
  - name: Subscription Plans
    description: 订阅计划管理
    x-displayName: Subscription Plans
  - name: Subscription Management
    description: 订阅管理
    x-displayName: Subscription Management
  - name: Invoices
    description: 账单管理
    x-displayName: Invoices
  - name: Payment Methods
    description: 支付方式管理
    x-displayName: Payment Methods
  - name: Usage & Quota
    description: 使用量与配额管理
    x-displayName: Usage & Quota
  - name: Audit Logs
    description: 审计日志
    x-displayName: Audit Logs
  - name: Compliance
    description: 合规性报告
    x-displayName: Compliance
  - name: Document - Attachments
    description: 附件管理
    x-displayName: Document - Attachments
  - name: Document - Tenancy
    description: 多租户（组织/工作区级文档）
    x-displayName: Document - Tenancy
paths:
  /.well-known/openid-configuration:
    get:
      operationId: AuthApi_openidConfiguration
      summary: OIDC元数据
      description: |-
        返回 OIDC 提供方的标准发现文档。

        Return OIDC provider discovery document.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth.ProviderMetadata'
      tags:
        - OAuth
  /api/v1/admin/oidc/providers:
    get:
      operationId: OidcProviderAdminApi_listAllProviders
      summary: 列出所有 OIDC 提供商配置
      description: |-
        列出所有 OIDC 提供商配置（管理员）
        List all OIDC provider configurations (admin)

        获取所有 OIDC 提供商的完整配置信息，包括密钥等敏感信息。
        Get complete configuration of all OIDC providers, including sensitive data like secrets.

        权限要求：平台管理员
        Permission required: Platform administrator

        示例：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/admin/oidc/providers' \
          -H 'Authorization: Bearer ADMIN_TOKEN'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/Auth.OidcProviderConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
    post:
      operationId: OidcProviderAdminApi_addOidcProvider
      summary: 添加 OIDC 提供商
      description: |-
        添加 OIDC 提供商配置（管理员）
        Add OIDC provider configuration (admin)

        添加新的 OIDC 提供商配置，需要管理员权限。
        Add new OIDC provider configuration, requires admin permission.

        示例（Google）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/admin/oidc/providers' \
          -H 'Authorization: Bearer ADMIN_TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "providerType": "google",
            "name": "Google",
            "clientId": "YOUR_GOOGLE_CLIENT_ID",
            "clientSecret": "YOUR_GOOGLE_CLIENT_SECRET",
            "scopes": ["openid", "profile", "email"]
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.OidcProviderConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.AddOidcProviderRequest'
  /api/v1/admin/oidc/providers/{providerId}:
    get:
      operationId: OidcProviderAdminApi_getOidcProvider
      summary: 获取 OIDC 提供商配置
      description: |-
        获取 OIDC 提供商配置（管理员）
        Get OIDC provider configuration (admin)

        获取指定 OIDC 提供商的完整配置信息。
        Get complete configuration of specified OIDC provider.
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.OidcProviderConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
    patch:
      operationId: OidcProviderAdminApi_updateOidcProvider
      summary: 更新 OIDC 提供商配置
      description: |-
        更新 OIDC 提供商配置（管理员）
        Update OIDC provider configuration (admin)

        更新指定 OIDC 提供商的配置信息。
        Update configuration of specified OIDC provider.
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.OidcProviderConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.UpdateOidcProviderRequest'
    delete:
      operationId: OidcProviderAdminApi_deleteOidcProvider
      summary: 删除 OIDC 提供商配置
      description: |-
        删除 OIDC 提供商配置（管理员）
        Delete OIDC provider configuration (admin)

        删除指定的 OIDC 提供商配置。
        Delete specified OIDC provider configuration.
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OIDC Providers - Admin
  /api/v1/api-keys:
    post:
      operationId: ApiKeyApi_createApiKey
      summary: 创建 API Key
      description: |-
        创建 API Key
        Create API Key

        创建新的 API 密钥。密钥只在创建时返回完整内容，请妥善保存。
        Create new API key. Full key is only returned on creation, please save it securely.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/api-keys' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "name": "生产环境 API Key",
            "description": "用于生产环境的后端服务",
            "scopes": ["doc:read", "doc:write", "data:read", "data:write"],
            "expiresInDays": 365,
            "rateLimit": 1000
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKey'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.CreateApiKeyRequest'
    get:
      operationId: ApiKeyApi_listApiKeys
      summary: 列出 API Keys
      description: |-
        列出 API Keys
        List API Keys

        获取当前用户的所有 API 密钥列表。
        Get list of all API keys for current user.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/api-keys?page=1&pageSize=20&status=active' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: page
          in: query
          required: false
          description: |-
            页码（从1开始）
            Page number (starts from 1)
          schema:
            type: integer
            format: int32
            default: 1
          explode: false
        - name: pageSize
          in: query
          required: false
          description: |-
            每页数量
            Page size
          schema:
            type: integer
            format: int32
            default: 20
          explode: false
        - name: status
          in: query
          required: false
          description: |-
            按状态筛选
            Filter by status
          schema:
            $ref: '#/components/schemas/Auth.ApiKeyStatus'
          explode: false
        - name: organizationId
          in: query
          required: false
          description: |-
            按组织ID筛选
            Filter by organization ID
          schema:
            type: string
          explode: false
        - name: workspaceId
          in: query
          required: false
          description: |-
            按工作区ID筛选
            Filter by workspace ID
          schema:
            type: string
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    required:
                      - items
                      - page
                      - pageSize
                      - total
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Auth.ApiKey'
                        description: |-
                          列表项
                          Items
                      page:
                        type: integer
                        format: int32
                        description: |-
                          当前页
                          Page number
                      pageSize:
                        type: integer
                        format: int32
                        description: |-
                          每页数量
                          Page size
                      total:
                        type: integer
                        format: int64
                        description: |-
                          总数
                          Total count
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/batch-revoke:
    post:
      operationId: ApiKeyApi_batchRevokeApiKeys
      summary: 批量吊销 API Keys
      description: |-
        批量吊销 API Keys
        Batch revoke API Keys

        批量吊销多个 API 密钥。
        Batch revoke multiple API keys.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/api-keys/batch-revoke' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "apiKeyIds": ["key-1", "key-2", "key-3"]
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      revokedCount:
                        type: integer
                        format: int32
                        description: |-
                          成功吊销的数量
                          Successfully revoked count
                      failed:
                        type: array
                        items:
                          type: string
                        description: |-
                          失败的 API Key IDs
                          Failed API Key IDs
                    required:
                      - revokedCount
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKeyIds:
                  type: array
                  items:
                    type: string
                  description: |-
                    API Key ID 列表
                    API Key ID list
              required:
                - apiKeyIds
  /api/v1/api-keys/{apiKeyId}:
    get:
      operationId: ApiKeyApi_getApiKey
      summary: 获取 API Key 详情
      description: |-
        获取 API Key 详情
        Get API Key details

        获取指定 API 密钥的详细信息（不包含完整密钥）。
        Get details of specified API key (without full key).
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKey'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
    patch:
      operationId: ApiKeyApi_updateApiKey
      summary: 更新 API Key
      description: |-
        更新 API Key
        Update API Key

        更新 API 密钥的配置信息。
        Update API key configuration.

        示例（cURL）：
        ```bash
        curl -X PATCH 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "name": "生产环境 API Key (更新)",
            "scopes": ["doc:read", "data:read"],
            "rateLimit": 500
          }'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKey'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.UpdateApiKeyRequest'
    delete:
      operationId: ApiKeyApi_deleteApiKey
      summary: 删除 API Key
      description: |-
        删除 API Key
        Delete API Key

        彻底删除 API 密钥及其所有使用记录。
        Permanently delete API key and all its usage logs.

        示例（cURL）：
        ```bash
        curl -X DELETE 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/{apiKeyId}/logs:
    get:
      operationId: ApiKeyApi_getApiKeyUsageLogs
      summary: 获取使用记录
      description: |-
        获取 API Key 使用记录
        Get API Key usage logs

        获取 API 密钥的使用记录。
        Get usage logs of API key.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}/logs?page=1&pageSize=50&startTime=2024-12-01T00:00:00Z&endTime=2024-12-05T23:59:59Z' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: |-
            页码
            Page number
          schema:
            type: integer
            format: int32
            default: 1
          explode: false
        - name: pageSize
          in: query
          required: false
          description: |-
            每页数量
            Page size
          schema:
            type: integer
            format: int32
            default: 50
          explode: false
        - name: startTime
          in: query
          required: false
          description: |-
            开始时间
            Start time
          schema:
            type: string
          explode: false
        - name: endTime
          in: query
          required: false
          description: |-
            结束时间
            End time
          schema:
            type: string
          explode: false
        - name: method
          in: query
          required: false
          description: |-
            按方法筛选
            Filter by method
          schema:
            type: string
          explode: false
        - name: path
          in: query
          required: false
          description: |-
            按路径筛选
            Filter by path
          schema:
            type: string
          explode: false
        - name: statusCode
          in: query
          required: false
          description: |-
            按状态码筛选
            Filter by status code
          schema:
            type: integer
            format: int32
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    required:
                      - items
                      - page
                      - pageSize
                      - total
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Auth.ApiKeyUsageLog'
                        description: |-
                          列表项
                          Items
                      page:
                        type: integer
                        format: int32
                        description: |-
                          当前页
                          Page number
                      pageSize:
                        type: integer
                        format: int32
                        description: |-
                          每页数量
                          Page size
                      total:
                        type: integer
                        format: int64
                        description: |-
                          总数
                          Total count
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/{apiKeyId}/regenerate:
    post:
      operationId: ApiKeyApi_regenerateApiKey
      summary: 重新生成 API Key
      description: |-
        重新生成 API Key
        Regenerate API Key

        重新生成 API 密钥。旧密钥立即失效，新密钥只返回一次。
        Regenerate API key. Old key is immediately invalidated, new key is returned only once.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}/regenerate' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKey'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/{apiKeyId}/revoke:
    post:
      operationId: ApiKeyApi_revokeApiKey
      summary: 吊销 API Key
      description: |-
        吊销 API Key
        Revoke API Key

        永久吊销 API 密钥，吊销后无法恢复。
        Permanently revoke API key, cannot be restored after revocation.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}/revoke' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/api-keys/{apiKeyId}/stats:
    get:
      operationId: ApiKeyApi_getApiKeyUsageStats
      summary: 获取使用统计
      description: |-
        获取 API Key 使用统计
        Get API Key usage statistics

        获取 API 密钥的使用统计信息。
        Get usage statistics of API key.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/api-keys/{apiKeyId}/stats?period=7d' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: string
        - name: period
          in: query
          required: false
          description: |-
            统计周期（1h, 24h, 7d, 30d, 90d）
            Statistics period (1h, 24h, 7d, 30d, 90d)
          schema:
            type: string
            default: 7d
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.ApiKeyUsageStats'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - API Keys
  /api/v1/auth/change-password:
    post:
      operationId: AuthenticationApi_changePassword
      summary: 修改密码
      description: |-
        修改密码
        Change password

        修改当前用户的密码（需要认证）。
        Change current user's password (requires authentication).
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.ChangePasswordRequest'
  /api/v1/auth/forgot-password:
    post:
      operationId: AuthenticationApi_forgotPassword
      summary: 忘记密码
      description: |-
        请求密码重置
        Request password reset

        发送密码重置验证码。
        Send password reset verification code.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      sent:
                        type: boolean
                      expiresIn:
                        type: integer
                        format: int32
                    required:
                      - sent
                      - expiresIn
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: string
                  description: |-
                    邮箱或手机号
                    Email or phone number
              required:
                - target
  /api/v1/auth/login:
    post:
      operationId: AuthenticationApi_login
      summary: 用户登录
      description: |-
        用户登录
        User login

        支持多种登录方式：邮箱+密码、手机+验证码、OAuth。
        Supports multiple login methods: email+password, phone+code, OAuth.

        示例（邮箱登录）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/auth/login' \
          -H 'Content-Type: application/json' \
          -d '{
            "email": "user@example.com",
            "password": "SecurePassword123!",
            "rememberMe": true
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.LoginResponse'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.LoginRequest'
  /api/v1/auth/logout:
    post:
      operationId: AuthenticationApi_logout
      summary: 退出登录
      description: |-
        退出登录
        Logout

        吊销当前访问令牌和刷新令牌。
        Revoke current access and refresh tokens.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
  /api/v1/auth/oauth/linked-accounts:
    get:
      operationId: OAuthLoginApi_listLinkedAccounts
      summary: 列出关联的第三方账号
      description: |-
        列出关联的第三方账号
        List linked third-party accounts

        获取当前用户关联的所有第三方账号。
        Get all linked third-party accounts for current user.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/Auth.LinkedAccount'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
  /api/v1/auth/oauth/linked-accounts/{linkId}:
    delete:
      operationId: OAuthLoginApi_unlinkOAuthAccount
      summary: 解除第三方账号关联
      description: |-
        解除第三方账号关联
        Unlink third-party account

        解除当前用户与指定第三方账号的关联。
        Unlink specified third-party account from current user.
      parameters:
        - name: linkId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
  /api/v1/auth/oauth/{provider}/authorize:
    get:
      operationId: OAuthLoginApi_getOAuthLoginUrl
      summary: 获取 OAuth 登录 URL
      description: |-
        获取 OAuth 登录 URL
        Get OAuth login URL

        生成第三方 OAuth 登录的授权 URL。
        Generate authorization URL for third-party OAuth login.

        示例（Google 登录）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/auth/oauth/google/authorize?redirectUri=https://myapp.com/callback'
        ```
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
        - name: redirectUri
          in: query
          required: true
          schema:
            type: string
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.OAuthLoginUrlResponse'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
  /api/v1/auth/oauth/{provider}/callback:
    post:
      operationId: OAuthLoginApi_handleOAuthCallback
      summary: OAuth 回调处理
      description: |-
        OAuth 回调处理
        OAuth callback handler

        处理第三方 OAuth 提供商的回调，完成登录或账号关联。
        Handle OAuth provider callback, complete login or account linking.

        示例（Google 回调）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/auth/oauth/google/callback' \
          -H 'Content-Type: application/json' \
          -d '{
            "code": "AUTHORIZATION_CODE",
            "state": "STATE_CODE",
            "redirectUri": "https://myapp.com/callback"
          }'
        ```
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        description: |-
                          访问令牌
                          Access token
                      refreshToken:
                        type: string
                        description: |-
                          刷新令牌
                          Refresh token
                      tokenType:
                        type: string
                        enum:
                          - Bearer
                        description: |-
                          令牌类型
                          Token type
                      expiresIn:
                        type: integer
                        format: int32
                        description: |-
                          过期时间（秒）
                          Expires in seconds
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                          displayName:
                            type: string
                          avatarUrl:
                            type: string
                        required:
                          - id
                          - displayName
                        description: |-
                          用户信息
                          User info
                      isNewAccount:
                        type: boolean
                        description: |-
                          是否新创建的账号
                          Is newly created account
                    required:
                      - accessToken
                      - refreshToken
                      - tokenType
                      - expiresIn
                      - user
                      - isNewAccount
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.OAuthCallbackRequest'
  /api/v1/auth/oauth/{provider}/link:
    post:
      operationId: OAuthLoginApi_linkOAuthAccount
      summary: 关联第三方账号
      description: |-
        关联第三方账号
        Link third-party account

        将第三方 OAuth 账号关联到当前用户（需要已登录）。
        Link third-party OAuth account to current user (requires authentication).
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.LinkedAccount'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - OAuth Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.OAuthCallbackRequest'
  /api/v1/auth/refresh:
    post:
      operationId: AuthenticationApi_refreshToken
      summary: 刷新令牌
      description: |-
        刷新令牌
        Refresh token

        使用刷新令牌获取新的访问令牌。
        Use refresh token to get new access token.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string
                      expiresIn:
                        type: integer
                        format: int32
                    required:
                      - accessToken
                      - refreshToken
                      - expiresIn
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: |-
                    刷新令牌
                    Refresh token
              required:
                - refreshToken
  /api/v1/auth/register:
    post:
      operationId: AuthenticationApi_register
      summary: 用户注册
      description: |-
        用户注册
        User registration

        支持邮箱注册和手机号注册。
        Supports email and phone registration.

        示例（邮箱注册）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/auth/register' \
          -H 'Content-Type: application/json' \
          -d '{
            "email": "user@example.com",
            "password": "SecurePassword123!",
            "displayName": "张三",
            "agreeToTerms": true
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.LoginResponse'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.RegisterRequest'
  /api/v1/auth/reset-password:
    post:
      operationId: AuthenticationApi_resetPassword
      summary: 重置密码
      description: |-
        重置密码
        Reset password

        使用验证码重置密码。
        Reset password using verification code.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.ResetPasswordRequest'
  /api/v1/auth/sessions:
    get:
      operationId: AuthenticationApi_listSessions
      summary: 列出会话
      description: |-
        列出活跃会话
        List active sessions

        获取当前用户的所有活跃会话。
        Get all active sessions of current user.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/Auth.Session'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
  /api/v1/auth/sessions/revoke-all:
    post:
      operationId: AuthenticationApi_revokeAllOtherSessions
      summary: 吊销所有其他会话
      description: |-
        吊销所有其他会话
        Revoke all other sessions

        吊销除当前会话外的所有会话。
        Revoke all sessions except the current one.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      revokedCount:
                        type: integer
                        format: int32
                    required:
                      - revokedCount
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
  /api/v1/auth/sessions/{sessionId}:
    delete:
      operationId: AuthenticationApi_revokeSession
      summary: 吊销会话
      description: |-
        吊销会话
        Revoke session

        吊销指定的会话。
        Revoke specified session.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
  /api/v1/auth/two-factor/disable:
    post:
      operationId: AuthenticationApi_disableTwoFactor
      summary: 禁用两步验证
      description: |-
        禁用两步验证
        Disable two-factor authentication

        禁用当前用户的两步验证。
        Disable two-factor authentication for current user.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: |-
                    当前密码或验证码
                    Current password or verification code
              required:
                - password
  /api/v1/auth/two-factor/enable:
    post:
      operationId: AuthenticationApi_enableTwoFactor
      summary: 启用两步验证
      description: |-
        启用两步验证
        Enable two-factor authentication

        确认并启用两步验证。
        Confirm and enable two-factor authentication.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      backupCodes:
                        type: array
                        items:
                          type: string
                    required:
                      - enabled
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.EnableTwoFactorRequest'
  /api/v1/auth/two-factor/setup:
    post:
      operationId: AuthenticationApi_setupTwoFactor
      summary: 设置两步验证
      description: |-
        设置两步验证
        Setup two-factor authentication

        初始化两步验证设置，返回 TOTP 密钥或备用码。
        Initialize two-factor setup, returns TOTP secret or backup codes.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Auth.TwoFactorSetupResponse'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  allOf:
                    - $ref: '#/components/schemas/Auth.TwoFactorMethod'
                  description: |-
                    两步验证方式
                    Two-factor method
              required:
                - method
  /api/v1/auth/verification-code:
    post:
      operationId: AuthenticationApi_sendVerificationCode
      summary: 发送验证码
      description: |-
        发送验证码
        Send verification code

        发送验证码到邮箱或手机号。
        Send verification code to email or phone.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      sent:
                        type: boolean
                        description: |-
                          发送成功
                          Send success
                      expiresIn:
                        type: integer
                        format: int32
                        description: |-
                          过期时间（秒）
                          Expires in seconds
                    required:
                      - sent
                      - expiresIn
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.SendVerificationCodeRequest'
  /api/v1/billing/plans:
    get:
      operationId: SubscriptionPlansApi_listPlans
      summary: 列出订阅计划
      description: 列出可用订阅计划
      parameters:
        - name: includeArchived
          in: query
          required: false
          description: 是否包含已归档计划
          schema:
            type: boolean
            default: false
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/Billing.SubscriptionPlan'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Subscription Plans
  /api/v1/billing/plans/{planId}:
    get:
      operationId: SubscriptionPlansApi_getPlan
      summary: 获取订阅计划详情
      description: 获取订阅计划详情
      parameters:
        - name: planId
          in: path
          required: true
          description: 计划 ID
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/Billing.SubscriptionPlan'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Subscription Plans
  /api/v1/i18n/currencies:
    get:
      operationId: I18nApi_listCurrencies
      summary: 获取货币列表
      description: |-
        获取货币列表
        Get currency list

        获取系统支持的货币列表。
        Get list of supported currencies.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/i18n/currencies' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: includeInactive
          in: query
          required: false
          description: |-
            是否包含不活跃的货币
            Whether to include inactive currencies
          schema:
            type: boolean
            default: false
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      currencies:
                        type: array
                        items:
                          $ref: '#/components/schemas/I18n.Currency'
                        description: |-
                          货币列表
                          Currencies
                    required:
                      - currencies
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
  /api/v1/i18n/detect-language:
    post:
      operationId: I18nApi_detectLanguage
      summary: 检测文本语言
      description: |-
        检测文本语言
        Detect text language

        自动检测给定文本的语言。
        Automatically detect language of given text.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/i18n/detect-language' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{"text": "这是一段测试文本"}'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      detectedLanguage:
                        type: string
                        description: |-
                          检测到的语言
                          Detected language
                      confidence:
                        type: number
                        format: double
                        description: |-
                          置信度
                          Confidence
                      alternatives:
                        type: array
                        items:
                          $ref: '#/components/schemas/I18n.LanguageDetection'
                        description: |-
                          备选语言
                          Alternative languages
                    required:
                      - detectedLanguage
                      - confidence
                      - alternatives
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: |-
                    待检测文本
                    Text to detect
              required:
                - text
  /api/v1/i18n/format-preview:
    post:
      operationId: I18nApi_formatPreview
      summary: 格式化数据预览
      description: |-
        格式化数据预览
        Format data preview

        根据指定的语言和格式设置预览格式化结果。
        Preview formatting results based on specified language and format settings.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/i18n/format-preview' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "language": "zh",
            "timezone": "Asia/Shanghai",
            "dateFormat": "YYYY-MM-DD",
            "timeFormat": "24h",
            "currency": "CNY",
            "samples": {
              "date": "2024-12-06T10:30:00Z",
              "number": 1234567.89,
              "currency": 9999.99
            }
          }'
        ```
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      formatted:
                        type: object
                        properties:
                          date:
                            type: string
                            description: |-
                              格式化的日期
                              Formatted date
                          time:
                            type: string
                            description: |-
                              格式化的时间
                              Formatted time
                          datetime:
                            type: string
                            description: |-
                              格式化的日期时间
                              Formatted datetime
                          number:
                            type: string
                            description: |-
                              格式化的数字
                              Formatted number
                          currency:
                            type: string
                            description: |-
                              格式化的货币
                              Formatted currency
                        required:
                          - date
                          - time
                          - datetime
                          - number
                          - currency
                        description: |-
                          格式化结果
                          Formatted results
                    required:
                      - formatted
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                  description: |-
                    语言代码
                    Language code
                timezone:
                  type: string
                  description: |-
                    时区
                    Timezone
                dateFormat:
                  type: string
                  description: |-
                    日期格式
                    Date format
                timeFormat:
                  type: string
                  description: |-
                    时间格式
                    Time format
                currency:
                  type: string
                  description: |-
                    货币代码
                    Currency code
                samples:
                  type: object
                  properties:
                    date:
                      type: string
                      description: |-
                        日期示例
                        Date sample
                    number:
                      type: number
                      format: double
                      description: |-
                        数字示例
                        Number sample
                    currency:
                      type: number
                      format: double
                      description: |-
                        货币示例
                        Currency sample
                  required:
                    - date
                    - number
                    - currency
                  description: |-
                    示例数据
                    Sample data
              required:
                - language
                - timezone
                - dateFormat
                - timeFormat
                - currency
                - samples
  /api/v1/i18n/languages:
    get:
      operationId: I18nApi_listLanguages
      summary: 获取支持的语言列表
      description: |-
        获取支持的语言列表
        Get supported languages list

        返回系统支持的所有语言配置列表。
        Returns list of all supported language configurations.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/i18n/languages?enabledOnly=true' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: enabledOnly
          in: query
          required: false
          description: |-
            仅返回已启用的语言
            Only return enabled languages
          schema:
            type: boolean
            default: false
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: array
                    items:
                      $ref: '#/components/schemas/I18n.LanguageConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
  /api/v1/i18n/languages/{languageCode}:
    get:
      operationId: I18nApi_getLanguage
      summary: 获取语言详细配置
      description: |-
        获取语言详细配置
        Get language detailed configuration

        返回指定语言的详细配置信息。
        Returns detailed configuration for specified language.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/i18n/languages/zh' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: languageCode
          in: path
          required: true
          description: |-
            语言代码
            Language code
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/I18n.LanguageConfig'
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
  /api/v1/i18n/organizations/{organizationId}/i18n/glossary:
    get:
      operationId: TranslationApi_getGlossary
      summary: 获取翻译术语表
      description: |-
        获取翻译术语表
        Get translation glossary

        获取组织的翻译术语表。
        Get organization's translation glossary.

        示例（cURL）：
        ```bash
        curl -X GET 'https://open.nexusbook.app/api/v1/organizations/org-123/i18n/glossary?sourceLanguage=zh&targetLanguage=en' \
          -H 'Authorization: Bearer TOKEN'
        ```
      parameters:
        - name: organizationId
          in: path
          required: true
          description: |-
            组织ID
            Organization ID
          schema:
            type: string
        - name: sourceLanguage
          in: query
          required: false
          description: |-
            源语言
            Source language
          schema:
            type: string
          explode: false
        - name: targetLanguage
          in: query
          required: false
          description: |-
            目标语言
            Target language
          schema:
            type: string
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      entries:
                        type: array
                        items:
                          $ref: '#/components/schemas/I18n.GlossaryEntry'
                        description: |-
                          术语表条目
                          Glossary entries
                    required:
                      - entries
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
    post:
      operationId: TranslationApi_addGlossaryEntries
      summary: 添加术语到翻译术语表
      description: |-
        添加术语到翻译术语表
        Add term to translation glossary

        添加术语到组织的翻译术语表。需要 owner 或 admin 权限。
        Add term to organization's translation glossary. Requires owner or admin permission.

        示例（cURL）：
        ```bash
        curl -X POST 'https://open.nexusbook.app/api/v1/organizations/org-123/i18n/glossary' \
          -H 'Authorization: Bearer TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "sourceLanguage": "zh",
            "targetLanguage": "en",
            "entries": [{
              "term": "订货单",
              "translation": "Purchase Order",
              "context": "business_document",
              "category": "general"
            }]
          }'
        ```
      parameters:
        - name: organizationId
          in: path
          required: true
          description: |-
            组织ID
            Organization ID
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                    description: |-
                      是否成功
                      Whether the request succeeded
                  code:
                    allOf:
                      - $ref: '#/components/schemas/Common.ErrorCode'
                    description: |-
                      错误码
                      Error code (when failed)
                  message:
                    allOf:
                      - $ref: '#/components/schemas/Common.Message'
                    description: |-
                      消息（多语言）
                      Message (multi-language)
                  payload:
                    type: object
                    properties:
                      added:
                        type: integer
                        format: int32
                        description: |-
                          新增数量
                          Added count
                      entries:
                        type: array
                        items:
                          $ref: '#/components/schemas/I18n.GlossaryEntry'
                        description: |-
                          术语条目列表
                          Glossary entries
                    required:
                      - added
                      - entries
                    nullable: true
                    description: |-
                      载荷
                      Payload
      tags:
        - Internationalization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceLanguage:
                  type: string
                  description: |-
                    源语言
                    Source language
                targetLanguage:
                  type: string
                  description: |-
                    目标语言
                    Target language
                entries:
                  type: array
                  items:
                    type: object
                    properties:
                      term:
                        type: string
                        description: |-
                          术语
                          Term
                      translation:
                        type: string
                        description: |-
                          翻译
                          Translation
                      context:
                        type: string
                        description: |-
                          上下文
                          Context
                      category:
                        type: string
                        description: |-
                          分类
                          Category
                    required:
                      - term
                      - translation
                  description: |-
                    术语条目列表
                    Glossary entries
              required:
                - sourceLanguage
                - targetLanguage
                - entries
  /api/v1/i18n/timezones:
    get:
      operationId: I18nApi_listTimezones
      summary: 获取时区列表
      description: |-
        获取时区列表
        Get timezone list

        获取系统支持的时区列表。
[...]
